{% extends 'base.html' %}

{% load staticfiles %}

  {% block styles %}
  <style>
      .jumbotron{
          text-align: center;
      }
  </style> 
  {% endblock %}

{% block jumbotron %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Labpin!</h1>
        <p>We are a small startup that retails lab equipment. If you would like to learn more about us, please visit our About page.  </p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more »</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-4">
         </div>
        <div class="col-md-4">
          <a href="#"><img src="{% static 'img/LabpinLogoTransparent.png' %}" class= 'img-responsive'/></a>
        </div>
        <div class="col-md-4">
          </div>
{% endblock %}
